<%- include('../components/head') %>

<main class="page-error find-error h-stretch">
    <div class="page-error-container find-error-container ">
        <div class="error-content">
          <div class="error-icon error-find-icon"></div>
            <div class="error-text">
                <h1>404</h1>
                <div class="error-descr">Не туда попали</div>
            </div>
        </div>
        <a href="chat.ejs" class="error-back-link">Назад к чатам</a>
    </div>
</main>

<%- include('../components/footer') %>