<%- include('../components/head') %>

<main class="page-profile">
    <div class="wrapper">
        <div class="profile-content">
            <div class="profile-head">
                <div class="profile-avatar-container">
                    <div class="avatar profile-avatar"
                         style=""></div>
                </div>
            </div>
            <div class="profile-settings">
                <form action="" method="post" class="profile-list">
                    <div class="form-group profile-list-item">
                        <label class="input-label" for="old-password-input">Старый пароль</label>
                        <input type="password" name="oldPassword" id="old-password-input" placeholder="•••••••••" required>
                    </div>
                    <div class="form-group profile-list-item">
                        <label class="input-label" for="new-password-input">Новый пароль</label>
                        <input type="password" name="newPassword" id="new-password-input" placeholder="•••••••••••" required>
                    </div>
                    <div class="form-group profile-list-item">
                        <label class="input-label" for="repeat-password-input">Пароль (еще раз)</label>
                        <input type="password" name="repeatPassword" id="repeat-password-input" placeholder="•••••••••••" required>
                    </div>

                    <div class="form-footer">
                        <button type="submit" class="btn submit-btn">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="profile-back-link">
        <a href="profile.ejs" class="arrow-back-link"></a>
    </div>
</main>

<%- include('../components/footer') %>