
<%- include('../components/head') %>

<main class="page-chat h-stretch">
    <div class="plug">
        <div class="plug-link">
            <a href="profile.ejs">Профиль</a>
            <a href="profile-settings.ejs">Настройки профиля</a>
            <a href="change-password.ejs">Изменить пароль</a>
            <a href="registration.ejs">Регистрация</a>
            <a href="login.ejs">Вход</a>
            <a href="404.ejs">404</a>
            <a href="500.ejs">500</a>
        </div>
    </div>
</main>

<%- include('../components/footer') %>