.plug {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: block;
    font-size: 50px;
    line-height: 1;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}