// fonts
$baseFF: 'Inter', sans-serif;

$baseFS: 12px;
$baseFW: 500;
$baseLH: normal;

// media
$sm-phone: 325px;
$phone: 767px;
$tablet: 1200px;

// colors
$black: #1E1E1E;
$gray: #999999;
$m-gray: #EAEAEA;
$l-gray: #F5F5F5;
$red: #C60000;
$base-blue: #5D5FEF;
$hover-blue: #7879F1;
$text-blue: #8884FF;
$border-color: #A5A6F6;
$l-purple: #DEDDFC;

// specific
$border-radius: 12px;

// form
$form-bg: white;

